# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# k8s secret
dj_secret.yaml

root.crt

# lesson commands
commands

# unit config test file
config.json

# env file
.env

#useless manifests
postgresql-helm-manifest.yaml
