apiVersion: v1
kind: Secret
metadata:
  name: secret-dj
  labels:
    {{- include "django-app.labels" . | nindent 4 }}
type: Opaque
data:
  DATABASE_URL: your_database_url
  SECRET_KEY: your_secret_key
  ALLOWED_HOSTS: your_hosts